conda.enabled = true

env {
    OMP_NUM_THREADS = 8
    HDF5_USE_FILE_LOCKING = 'FALSE'
    NUMBA_CACHE_DIR = '/tmp'
    MPLCONFIGDIR = '/tmp'
}

profiles {

    local {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'slurm'
        process.time = '11:59:00'
    }

}