params.SCxSEACell = 50
params.mainAdataFilePath = '/scratch_isilon/groups/singlecell/shared/projects/Inflammation-PBMCs-Atlas/02_fromCellLineages_to_CellTypes/INFLAMMATION_main_annotated_LowQFilt.h5ad'
params.annotation_col = 'Level1'
params.exclude_CellTypes = 'Platelets,Progenitors,RBC,Cycling_cells'
params.outputdir = '/scratch_isilon/groups/singlecell/shared/projects/Inflammation-PBMCs-Atlas/03_downstreamAnalyses/02_SEAcell_generation/results'
params.outputFileName = '01_INFLAMMATION_main_SEAcell.pkl'


conda.enabled = true

env {
    OMP_NUM_THREADS = 8
    HDF5_USE_FILE_LOCKING = 'FALSE'
    NUMBA_CACHE_DIR = '/tmp'
    MPLCONFIGDIR = '/tmp'
}

profiles {

    local {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'slurm'
        process.time = '11:59:00'
    }

}